
body {
  margin: 0;
  padding:0;
  background-color: #101010;
  font-family: "Noto Sans", sans-serif;
  align-content: center;
  color: #d2d2d2;

}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 5vh;
  width: 100%;
  z-index: 4;
  justify-content: center;
  align-items: center;
  background: #202020ff;
}

.navbarRow {
  color: #d2d2d2;
}

.navbarRow label {

}

.topInput {
  background-color: #202020;
  color: #d2d2d2;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-family: inherit;
}



.scheduleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  padding: 40px;
  padding-inline:80px;
  gap: 20px;
}

.scheduleItem {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.scheduleItem:hover {
  outline: #00a4dc50 solid 4px;
}

.mediaTypeSelector {
  display: flex;
  justify-content: left;
  gap: 40px;
  padding-inline: 4vw;
}

.selectedMediaTypeButton{
  color: #d2d2d2;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.mediaTypeButton{
  color: #d2d2d233;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1000px) {
  .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 20px;
}

}

@media (min-width: 1920px) {
  .container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: center;
  gap: 20px;
}
}

.movieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}

.movieCard:hover {
  outline: #00a4dc50 solid 4px;
  transform: scale(1.02);
  transition: transform .2s;
}

.movieCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCardTitleLine {
  padding-top: .6em;
  max-width: 100% ;
}

.movieCardTitleLine p {
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.movieCardDateLine p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  color: #999;
  font-size: .8em;
}

.poster {
  aspect-ratio: 2/3;
  object-fit: fill;
  width: 100%;
}

.modal {
  position: fixed;
  container-type: inline-size;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.selectedContentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 70vw;
  font-size: 1em
}


@media (min-width: 1500px) {
  .selectedContentCard {
   display: flex;
  flex-direction: column;
  justify-content: center;
    width: 30vw;
  z-index: 3;
}
}

.selectedContentTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: #292929;
  padding: .7em;
}

.selectedContentTop p {
  margin: 0;
  font-weight: normal;
}

.selectedContentMiddle {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-color: #171717;
  padding: .7em;
  gap: 1em;
  align-items: center;
}

@media (min-width: 1500px) {
  .selectedContentMiddle {
  flex-direction: row;
}
}

.selectedContentInfoPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%
}

.selectedContentPoster {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.selectedContentName {
  margin: 0;
  padding-top: .6em;
  font-weight: normal;
  text-align: center;
  word-break: break-word;
}

.selectedContentDatePane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.selectedContentDatePane label {
  text-wrap: nowrap;
  padding-right: 10px;
}

.dateInput {
  background-color: #292929;
  color: #d2d2d2;
  border: .16em solid #292929;
  border-radius: .2em;
  padding: .4em .25em;
  font-size: 110%;
  text-align: center;
  font-family: inherit;
}

.dateInput:focus {
  border-color: #00a4dc;
}

.selectEpisode {
  display:flex;
  flex-direction: row;
  flex-shrink: 1;
  padding-right:10px
}

.selectEpisode select {
  background-color: #292929;
  color: #d2d2d2;
  border: .16em solid #292929;
  border-radius: .2em;
  padding: .4em .25em;
  font-size: 110%;
  text-align: center;
  font-family: inherit;
}

.selectEpisode label {
  text-wrap: nowrap;
  padding-right: 10px;
}



.selectedContentBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #292929;
  gap: 20px;
  width: 100%;
  padding: .7em;
}

.selectedContentBottom button {
  color: #d2d2d2;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
  font-family: inherit;
  border-radius: .2em;
  padding: .5em
}



.backButton {
  background-color: #424242;
  border-color: transparent;
}

.submitButton {
  background-color: #00a4dc;
  border-color: transparent;
}

.submitButton:disabled {
  cursor: not-allowed;
  background-color: #424242;
}

.seasonSelector {
  flex-shrink:1 ;
}

ul {
  list-style-type: none;
  padding-inline: 4vw;
}



.selectScreenBackground {
  z-index: 2;
  backdrop-filter: brightness(50%);
  position: absolute;
  inset: 0;
}
