body {
  margin: 0;
  padding:0;
  background-color: #101010;
  font-family: "Noto Sans", sans-serif;
  align-content: center;
  color: #d2d2d2;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: center;
  padding-inline: 30px;
  background: #20202080;
  backdrop-filter: blur(20px);
}

#submitButton {
  color: #d2d2d2;
  border-radius: 30px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #00a4dc33;
}

.inputRow {
  padding: 10px;
  color: #d2d2d2;
}

.topInput {
  background-color: #202020;
  color: #d2d2d2;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-family: inherit;
}

.scheduleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  padding: 40px;
  padding-inline:80px;
  gap: 20px;
}

.scheduleItem {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.scheduleItem:hover {
  outline: #00a4dc50 solid 4px;
}

.mediaTypeSelector {
  display: flex;
  justify-content: left;
  padding-inline: 80px;
  gap: 40px
}

.selectedMediaTypeButton{
  color: #d2d2d2;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.mediaTypeButton{
  color: #d2d2d233;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  padding-inline: 80px;
  gap: 20px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #202020;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.movieCard:hover {
  outline: #00a4dc50 solid 4px;
  transform: scale(1.02);
  transition: transform .2s;
}

.selectedMovieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #202020;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  outline: #00a4dc solid 2px;
}

.poster {
  aspect-ratio: 2/3;
  object-fit: fill;
  width: 100%;
}

.cardTitles {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.contentSelectedCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  z-index: 3;
  border: #00a4dc solid 1px;
  border-radius: 10px;
  padding: 30px;
  height: 40vh;
  width: 40vw;
  font-size:1vw;
  padding:40px;
}

.selectedContentInfoPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.selectedContentPoster {
  max-width:100%;
  max-height:100%;
  object-fit:contain;
  border-radius: 10px;
  overflow: hidden;
}

.selectedContentName {
  font-size: 1.2em;
  text-align: center;
}

.selectedContentControlPane {
  flex:1;
}

ul {
  list-style-type: none;
}

.blur {
  z-index: 2;
  backdrop-filter: blur(10px);
  position: absolute;
  inset: 0;
  cursor: pointer;
}
