
body {
  margin: 0;
  padding:0;
  background-color: #101010;
  font-family: "Noto Sans", sans-serif;
  align-content: center;
  color: #d2d2d2;
  height: 100;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 4;
  justify-content: center;
  padding-inline: 30px;
  background: #20202080;
  backdrop-filter: blur(20px);
}

.inputRow {
  padding: 10px;
  color: #d2d2d2;
}

.topInput {
  background-color: #202020;
  color: #d2d2d2;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-family: inherit;
}

.dateInput {
  background-color: #202020;
  color: #d2d2d2;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-family: inherit;
}


.scheduleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  padding: 40px;
  padding-inline:80px;
  gap: 20px;
}

.scheduleItem {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.scheduleItem:hover {
  outline: #00a4dc50 solid 4px;
}

.mediaTypeSelector {
  display: flex;
  justify-content: left;
  padding-inline: 80px;
  gap: 40px
}

.selectedMediaTypeButton{
  color: #d2d2d2;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.mediaTypeButton{
  color: #d2d2d233;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  padding-inline: 80px;
  gap: 20px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #202020;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.movieCard:hover {
  outline: #00a4dc50 solid 4px;
  transform: scale(1.02);
  transition: transform .2s;
}

.selectedMovieCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #202020;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  outline: #00a4dc solid 2px;
}

.poster {
  aspect-ratio: 2/3;
  object-fit: fill;
  width: 100%;
}

.cardTitles {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.contentSelectedCard {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  background-color: #202020;
  z-index: 3;
  border: #00a4dc solid 1px;
  border-radius: 10px;
  padding: 30px;
  max-height: 40vh;
  max-width: 70vw;
  font-size:1vw;
}

.selectedContentInfoPane {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 40vh;
}

.selectedContentPoster {
  max-width:100%;
  max-height:100%;
  object-fit:contain;
  border-radius: 10px;
  overflow: hidden;
}

.selectedContentName {
  font-size: 24px;
  text-align: center;
}

.selectedContentControlPane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  flex-shrink: 1;
  max-width: 50%;
}

.selectEpisode {
  display:flex;
  flex-direction: row;
  flex-shrink: 1;
  padding-right:10px
}

.selectEpisode select {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  background-color: #202020;
  color: #d2d2d2;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-family: inherit;
}

.selectEpisode label {
  text-wrap: nowrap;
  padding-right: 10px;
  font-size: 16px
}

.inputRow {
  display:flex;
  flex-direction: row;
  padding-left: 0;
  flex-wrap: wrap
}

.inputRow label {
  flex-grow: 3;
  text-wrap: nowrap;
  padding-right: 10px;
  font-size: 16px
}

.inputRow input {
  flex-grow: 3;
  text-wrap: nowrap;
  padding-right: 10px;
  min-width: 0;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px 0 10px;

}

.buttonRow button {
  color: #d2d2d2;
  border-radius: 30px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font: inherit;
  font-size: 16px
}

.buttonRow button:hover {
  background-color: #00a4dc33;
}

.seasonSelector {
  flex-shrink:1 ;
}

ul {
  list-style-type: none;
}

.submitButton:disabled {
  cursor: not-allowed;
}


.blur {
  z-index: 2;
  backdrop-filter: blur(10px);
  position: absolute;
  inset: 0;
  cursor: pointer;
}
